/* Logo Styling */
  .logo {
    
    width: 190%; /* Adjust size as needed */
    height:130px;
margin-left: -35px;

  }
.logo2 {

    width: 120%; /* Adjust size as needed */
    height:60px;


  }
  /* Sidebar  */
  #sidebar {
    grid-area: sidebar;
    height: 100vh; /* Full viewport height */
    background-color: Teal;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: fixed;


  }

  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
  }

  .sidebar-title > span {
    display: none;
  }

  .sidebar-brand {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #454546;
  }

  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }

  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;

  }

  .sidebar-list-item:hover {
    background-color: rgba(237, 242, 251, 0.2);
    cursor: pointer;
  }

  .sidebar-list-item > a {
    text-decoration: none;
    color: white;}

  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar
      on small screens
    */
    z-index: 12 !important;
  }
  .bars{
    font-size: 30px;
    color: white;
    display: flex;

    margin-top: 10px;
  }

  /* End Sidebar  */

  /* Sidebar Expanded */
.sidebar-expanded {
    width: 200px;
    transition: width 0.3s ease;
  }

  /* Sidebar Collapsed */
  .sidebar-collapsed {
    width: 60px;
    transition: width 0.3s ease;
  }

  .sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .sidebar-list {
    list-style-type: none;
    padding: 0;
  }

  .sidebar-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .sidebar-list-item .icon {
    margin-right: 10px;
    margin: 0 auto;
  }

  .bars {

    cursor: pointer;

  padding-right: 10px; /* Add padding to position it slightly inside */
  
  }
  
  .main-expanded {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }
  
  .main-collapsed {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
    margin: 0 auto;
  }
  .sidebar-expanded ~ #sidebar-overlay {
  display: block;
  opacity: 1;
}